@inherits LayoutComponentBase

<RadzenNotification />
<div class="auth-wrapper">
    <div class="auth-wrapper__card">
        <RadzenCard>
            @Body
        </RadzenCard>
    </div>
</div>

<style>
    .valid.modified:not([type=checkbox]){
        outline: hidden;
    }
</style>

@code {

}
