/* _content/WorkshopManager.Web.Razor.Pages/Layouts/AuthLayout.razor.rz.scp.css */
.auth-wrapper[b-5nfkdg0oo7] {
    height: 100vh;
    width: 100%;
}

.auth-wrapper .auth-wrapper__card[b-5nfkdg0oo7] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:350px;
}
/* _content/WorkshopManager.Web.Razor.Pages/Layouts/MainLayout.razor.rz.scp.css */
body[b-n4kv4x4wi6] {
    margin: 0;
    padding: 0;
}
